<div id="contentAligner">
    <div id="container">
        <div class="headers">
            What’s this?
        </div>
        
        <p>
            This website lets you create and share Vampire the Masquerade character sheets. It is intended as a pet project to explore Angular and Firebase. As such, it has a lot of room for improvement, both technically and in terms of user experience.
        </p>
        
        <p>
            Whether the app grows beyond what it is depends on how relevant that growth is to my plans and portfolio.
        </p>
        
        <div class="headers">
            A brief note on the sheet UI
        </div>
        
        <p>
            This webapp lets you customize the basic revised edition character sheet to a certain extent.
        </p>
        
        <p>
            You can edit the name of any ability and virtue by clicking on it and typing in a new name. Pressing enter or clicking anywhere else on the page saves the change.
        </p>
        
        <p>
            You can do the same with the character name and replace Humanity with a Path of Enlightenment.
        </p>
        
        <p>
            You can also add or remove abilities, disciplines, and backgrounds.
        </p>

        <p>
            Setting lower generations expands trait limits to a maximum of 9 and extends the character’s blood pool.
        </p>
        
        <p>
            Finally, you can add a picture you want to associate with your character.
        </p>

        <p>
            The sheets keep track of your changes and save them automatically as soon as you apply them. There's no save button because it isn't necessary.
        </p>
        
        <div class="headers">
            Publishing and unpublishing characters
        </div>

        <p>
            Every new character you create remains private until you choose to publish it. This means that nobody but you can see it.
        </p>
        
        <p>
            To publish a character, navigate to its sheet and click the Publish button in the top left-hand corner.
        </p>
        
        <p>
            This makes the character visible to everyone in the Public section of the website.
        </p>
        
        <p>
            You are still the only person who can edit the character and you can choose to unpublish it at any time.
        </p>
        
        <div class="headers">
            Filtering characters
        </div>
        
        <p>
            You can filter characters by clan, name and generation in both the Private and the Public sections of the website.
        </p>
        
        <p>
            Do note that the filters are strict. This means that they will only display the results that match your filter exactly.
        </p>        
        
        <div class="headers">
            A note on authentication
        </div>

        <p>
            The app uses email and password for user sign up and sign in.
        </p>

        <p>
            It doesn’t allow for password recovery nor does it do anything with the email you provide other than use it to recognize you when you sign in.
        </p>

        <p>
            You can spoof any make-believe email address so long as it’s formatted as such.
        </p>

        <div class="headers">
            Giving credit where credit is due
        </div>
        
        <p>
            All the character illustrations on this website are by the amazing artist Leif Jones. For more of his work, visit his website  <a href="http://leifjones.com/">here</a>.
        </p>
    </div>
</div>