<navbar></navbar>
<!--<button (click)="loginService.signup()">Create a user</button><br>
<button (click)="loginService.signin()">Sign in</button><br>
<button (click)="loginService.signout()">Sign out</button>-->
<!--<div *ngIf="loginService.user$ | async as user; else login">
    <pre>
        {{user | json}}
    </pre>
    <hr>
    <button (click)="loginService.signOut()">Sign out</button>
</div>
<ng-template #login>
    <button (click)="loginService.emailSignin()">Sign in</button>
</ng-template>-->
<router-outlet></router-outlet>
